.SearchBar-wrapper{
  position: relative;
  margin-top: 3%;
}

.search-movie-input{
  width: 95%;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 30px;
  background-color: #282c34;
  color: white;
  -webkit-appearance: none;
}

.search-movie-input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

.search-movie-input:focus{
  outline: 0;
}

.search-movie-input-icon{
  position: absolute;
  top: 12px;
  left: 8px;
  width: 1%;
}

.search-movie-input-icon path{
  fill: #FFF;
}
